<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <br> <br>
    <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value= "<%=listing.title%>" type="text" class="form-control" required>
            <div class="valid-feedback">
                Title Looks good!
            </div>
            <div class="invalid-feedback">
                Plese Enter a Title For Listing
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Please enter Detailed Description!
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Listing image</label> <br>
            <img src="<%= listingImg %>">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload new image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                <div class="invalid-feedback">
                    Please Enter valid Price!
                </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Plese Enter The Country name!
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
            <div class="invalid-feedback">
                Plese Enter Location!
            </div>
        </div>
        <button  class="btn btn-dark mt-3 add-updateBtn">Update</button>
    </form>
</div>
</div>
